body {
    margin: 0;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}


.contentsListWrap {
    padding: 2rem;
}

.contentList:after,
.contentBlock {
    padding: 1rem;
}


.contentListHeadding {
    border-bottom: solid 5px #a9dff3;
    width: fit-content;
    margin: 3rem auto;
    font-size: 3rem;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
}

.contentList {
    width: 100%;
    display: grid;
    padding-bottom: 2rem;
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
}


.blogContentsList {
    grid-template-columns: repeat(1, 1fr);
}

.contentBlock {
    height: fit-content;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.5);
    word-break: break-all;
    background-color: #fff;
    text-decoration: none;
    text-decoration-line: none;
}

.contentSummary {
    color: #000;
    height: 2rem;
}

.blogContentsList .contentBlock {
    padding: 2rem;
    text-align: left;
}

@media screen and (max-width: 1550px) {
    .gameContentsList {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1135px) {
    .gameContentsList {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 480px) {
    .gameContentsList {
        grid-template-columns: repeat(1, 1fr);
    }
}


.contentBlock:hover {
    opacity: 0.4;
}

.contentBlock img {
    border-radius: 30px;
    width: 100%;
    aspect-ratio: 1;
}

.contentTitle {
    margin: 1rem auto, 0, auto;
    margin-bottom: 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
}

.blogContentsList .contentTitle {
    font-size: 1.5rem;
}

.ad {
    text-align: center;
    padding: 1rem;
    margin: 2rem auto;
}

img {
    max-width: 100%;
    height: auto;
}