#gameDisplayElm{
    border: 1px solid #000;
    width: min(95vw, 95vh);
    height: min(95vw, 95vh);
    margin: 1rem auto;
    position: relative;
}

#mashedNumElmWrap{
    width: 100%;
    height: 50%;
    position: absolute;
    text-align: center;

}

#mashedNumElm{
    font-size: 15rem;
}

#mashBtnWrap{
    width: 100%;
    height: 50%;
    position: absolute;
    top: 50%;
    text-align: center;
}

#mashBtn{
    background-color: red;
    width: 25%;
    height: 50%;
    border-radius: 50%;
}

#menu{
    text-align: center;

    padding: 2rem 1rem 0rem 1rem;
}